#progress-dialog(class="modal fade" tabindex="-1" role="dialog")
  .modal-dialog
    .modal-content
      .modal-body
        %h1
          Connecting with Twitter
        %img(src='/img/ajax-loader.gif')
