.center
  %h1 Track your Twitch stream highlights

  .welcome
    .big-logo
      %img(src="/img/big-logo.jpg" alt="Highlight Time Logo")

    .intro-text
      %p
        Tired of manually having to look for your highlights on long streaming sessions, now you can
        keep track of them easily.

      %br
      %p
        You can track your streams, from start to end, and mark highlights with one click.

      %br
      %p
        No more hunting down through the seekbar on long videos, just login with from the button above,
        and try it out.

= render 'progress_dialog'