.footer
  %hr
  .left
    Copyright &copy; Andres Clari - SteelCode Consulting. All rights reserved.
    %br
    %a(href="http://steelcode.net" title="SteelCode Consulting")
      http://steelcode.net

  .right
    %a(href="mailto:andres@steelcode.net?subject=SteelCode%20Contact" title="Contact me")
      Contact